/* contact.css */

.contact {
  padding: 50px 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

.shadow {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.shadow h4 {
  font-size: 24px;
  margin-bottom: 20px;
}

.shadow input[type='text'],
.shadow textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.shadow textarea {
  resize: none;
}

.shadow button.btn {
  display: block;
  width: 20%;
  padding: 10px;
  background-color: lightskyblue;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.shadow button.btn:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 768px) {
  .contact h4 {
    width: 100%;
    margin-bottom: 30px;
  }
  .contact form div {
    flex-direction: column;
  }
  .contact input {
    width: 100%;
  }
}
